asgiref==3.7.2
Django==4.2.6
django-dirtyfields==1.2.1
-e git+https://github.com/shearichard/django-plugins@2eebb602357cd98a2c2e02a81f6f5b44f612d288#egg=django_plugins
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.8.0
